patients.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="patients">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patient">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="surname"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="patronymic"/>
              <xs:element type="xs:date" name="birthday"/>
              <xs:element type="xs:int" name="policynumber"/>
              <xs:element name="test">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:date" name="date"/>
                    <xs:element type="xs:byte" name="idlab"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>